@use '../base/variables';
@import '../base/media';

h1, h2, h3, h4, h5, button {
    font-family: variables.$heading-font;
}

main {
    margin: 120px 24px;
}

p {
    font-family: variables.$main-font;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

@media (min-width: $medium) {
    main {
        margin: 120px 39px;
    }
}