@use './variables';

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&family=Fraunces:opsz,wght@9..144,300;9..144,400;9..144,500;9..144,600;9..144,700&display=swap');

h1, h2, h3, h4, h5, button {
    font-family: variables.$heading-font;
}

main {
    margin: 120px 24px;
}

p {
    font-family: variables.$main-font;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}