$dark-cyan: #0E8784;
$dark-grey-blue: #333D4B;
$outer-space: #2C343E;
$pale-orange: #FDD6BA;
$light-cream: #FEFCF7;
$grey: #83888F;
$btn-hover: #66D2CF;
$btn-disabled: #E2DEDB;

$heading-font: 'Fraunces', serif;
$main-font: 'Barlow', sans-serif;

