@use '../base';
@use '../base/variables';
@import '../base/media';

.sidebar_container {
    display: flex;
    flex-direction: row;
}

.sidebar_menu {
    display: none;
}

.accordion--btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // width: 100%;
    color: base.$grey;
    font-size: 24px;
    line-height: 28px;
    font-weight: 900;
    text-align: left;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;

    &::after {
        //position: absolute;
        content: "";
        background-image: url('../../assets/plan/desktop/icon-arrow.svg');
        width: 18px;
        height: 18px;
        background-repeat: no-repeat;
        flex-shrink: 0;
        transition: transform .2s ease-in-out;
        transform: rotate(0);
        margin-left: 67px;
    }

    &.collapsed::after {
        transform: rotate(-180deg);
    }
}

.collapse {
    display: none;

    &.show {
        margin: 24px 0 0 0;
        display: flex;
        flex-direction: column;
    }
}

.accordion_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 32px 0;
    color: base.$dark-grey-blue;
}

.accordion_title {
    color: base.$grey;
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
}

.accordion_answer {
    position: relative;
    margin: 8px 0;


input[type="radio"] {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
}

input[type="radio"]:checked+label {
    background-color: base.$dark-cyan;
    color: base.$light-cream;
    }
}

.accordion_label {
    background-color: #F4F1EB;
    display: flex;
    flex-direction: column;
    padding: 24px 25px;
    border-radius: 10px;
}

// .accordion_label:hover, .accordion_label:active{
//     background-color: base.$pale-orange;
// }

.accordion_subtitle {
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    margin-bottom: 8px;
}

.accordion_description {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}

@media (min-width: $medium) {
    .accordion--btn {
        font-size: 32px;
        line-height: 48px; /* 150% */
    }

    .accordion_title {
        margin-bottom: 40px;
    }

    .collapse {
        display: none;

    &.show {
        margin: 24px 0 100px 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        }
    }
    
    .accordion_answer {
        margin-right: 10px;
    }

    .accordion_answer:last-child{
        margin-right: 0;
    }

    .accordion_label {
        padding: 32px 25px 84px 32px;
        width: 223px;
        height: 250px;
    }

    .accordion_subtitle {
        margin-bottom: 24px;
    }
}

@media (min-width: $large) {
    .sidebar_container {
        justify-content: space-evenly;
    }

    .accordion--btn {
        font-size: 32px;
        line-height: 48px; /* 150% */
        width: 690px;;
    }

    .sidebar-item {
        border-bottom: 1px solid #979797;
        padding: 0 10px 0 0;
    }

    .sidebar-item button {
        color: base.$grey;
        border: none;
        background-color: transparent;
        margin-bottom: 20px;
        padding: 20px 0 10px 0;
        color: #adb0b2;
        font-size: 24px;
        font-weight: 900;
        line-height: 32px;
        cursor: pointer;
    }

    .sidebar-item button:hover {
        color:#848991;
    }

    .sidebar-item button:active{
        color: base.$dark-grey-blue;
    }

    .sidebar-item button span {
        margin: 0 20px 0 0;
        color: #cdcecd;
        font-size: 24px;
        font-weight: 900;
        line-height: 32px;
    }

    .sidebar-item button span:hover {
        color: #b5b6b8;
    }

    .collapse {
        display: none;

    &.show {
        margin: 24px 0 50px 0;
        }
    }
}

@media (min-width: $xlarge) {
    .accordion_container {
        width: 800px;
    }
      .sidebar_menu {
        display: flex;
    }

    .sidebar_container {
        width: 1200px;
        margin: 120px auto;
    }
}