@use '../base';
@import '../base/media';

.collection {
    text-align: center;
}

.collection-title {
    //TODO: add linear gradient like as is in project
    color: base.$grey;
    font-size: 40px;
    line-height: 72px; /* 75% */
    opacity: 0.4; 
    margin-bottom: 20px;
}

.collection-list {
    margin: auto;
}

.collection-img {
    margin: auto;
    max-width: 200px;
}

.collection-item {
    padding-bottom: 47px;
}

.collection-details {
    max-width: 280px;
    margin: auto;
    padding-top: 10px;
}

.collection-subtitle {
    color: base.$dark-grey-blue;
    line-height: 32px;
    font-size: 24px;
}

.collection-summary {
    color: base.$dark-grey-blue;
    padding-top: 15px;
    line-height: 25px;
    font-weight: 400;
}

@media (min-width: $medium) {
    .collection {
        margin: 0 50px 120px 50px;
    }

    .collection-title {
        font-size: 96px;
        font-weight: 900;
        line-height: 72px; /* 75% */
        color: rgb(131,136,143);
        background: linear-gradient(180deg, rgba(131,136,143,1) 0%, rgba(154,154,154,0.4220281862745098) 100%);
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text; 
        width: 100%;
    }

    .collection-list {
        display: flex;
        flex-direction: column;
        margin-top: -45px;
    }

    .collection-img {
        margin: auto;
        width: 255px;
        height: 173px;
        position: relative;
    }

    .collection-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        text-align: left;
        margin: 0 0 0 50px;
    }

    .collection-details {
        margin: 0 0 40px 0;
        padding: 0;
    }

    .collection-subtitle {
        font-weight: 900;
    }

    .collection-summary {
        padding-top: 24px;
    }
}

@media (min-width: $large) {
    .collection {
        margin: 0 0 120px 0;
    }

    .collection-title {
        font-size: 150px;
        font-weight: 900;
        font-style: normal;
        line-height: 120px; /* 48% */
        background: linear-gradient(180deg, #83888F 0%, rgba(254, 252, 247, 0.00) 100%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        width: 100%;
    }

    .collection-list {
        flex-direction: row;
        justify-content: center;
        margin-top: -55px;
        width: 90%;
    }

    .collection-item {
        display: block;
        width: 256px;
        margin: 0;
        text-align: center;
        margin: 0 10px;
    }

    .collection-img {
        height: 150px;
        margin-bottom: 71px;
    }

    .collection-summary {
        font-size: 16px;
        line-height: 26px; /* 162.5% */
    }
}