@use '../base';
@import '../base/media';

.collection {
    text-align: center;
}

.collection-title {
    // add linear gradient like as is in project
    color: base.$grey;
    font-size: 40px;
    line-height: 72px; /* 75% */
    opacity: 0.4; 
    margin-bottom: 20px;
}

.collection-list {
    margin: auto;
}

.collection-img {
    margin: auto;
    max-width: 200px;
}

.collection-item {
    padding-bottom: 47px;
}

.collection-details {
    max-width: 280px;
    margin: auto;
    padding-top: 10px;
}

.collection-subtitle {
    color: base.$dark-grey-blue;
    line-height: 32px;
    font-size: 24px;
}

.collection-summary {
    color: base.$dark-grey-blue;
    padding-top: 15px;
    line-height: 25px;
    font-weight: 400;
}

@media (min-width: $medium) {

    .collection {
        margin: 0 80px 120px 80px;
    }

    .collection-list {
        display: flex;
        flex-direction: column;
    }

    .collection-img {
        margin: auto;
        max-width: 280px;
    }

    .collection-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: left;
    }

    .collection-details {
        margin: 0 0 40px 0;
        padding: 0;
    }

    .collection-subtitle {
        font-weight: 900;
    }

    .collection-summary {
        padding-top: 24px;
    }
}