@use '../base';
@import '../base/media';

.commitment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 0 50px 0;
    color: base.$dark-grey-blue;
}

.commitment-img {
    border-radius: 8px; 
    width: 327px;
    height: 400px;
    margin-bottom: 48px;
    background-image: url('../../assets/about/mobile/image-commitment.jpg');
    background-size: cover;
    background-position: center;
}

.commitment-title {
    font-size: 32px;
    font-weight: 900;
    line-height: 48px;
    margin-bottom: 30px;
}

.commitment-description {
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
}

@media (min-width: $medium) {
    .commitment {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        // grid-column-gap: 5px;
        grid-row-gap: 0px;
    }

    .commitment-picture {
        grid-area: 1 / 1 / 2 / 2; 
    }

    .commitment-img {
        width: 281px;
        height: 470px;
        margin: 0 auto;
        background-image: url('../../assets/about/tablet/image-commitment.jpg');
        background-size: cover;
        background-position: center;
    }

    .commitment-content {
        grid-area: 1 / 2 / 2 / 4; 
        text-align: left;
        font-size: 15px;
        font-weight: 400;
        line-height: 25px; /* 166.667% */
        margin-left: 71px
    }
}