@use '../base';
@import '../base/media';

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto 30px auto;
    background-color: base.$outer-space;
    padding: 54px;
}

.footer-menu .nav-text{
    height: auto;
    margin: 24px 0;
}

.footer-menu .nav-text a {
    font-family: base.$main-font;
    color: base.$grey;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.923px;
    text-transform: uppercase;
    width: 100%;
}

.footer-menu ul {
    margin: 48px 0;
}

.footer-social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}

.social-item {
    color: white;
    width: 30px;
    height: 30px;
}

@media (min-width: $medium) {
    .footer {
        margin: 0 39px 70px 39px;
    }

    .footer-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 32px 0 65px 0;
    }

    .footer-menu .nav-text{
        margin: 0;
    }

    .footer-menu ul{
        width: 100%;
        margin: 0;
    }

    .footer-list {
        display: flex;
        flex-direction: row;
        width: 282px;
    }
}

@media (min-width: $large) {
    .footer {
        margin: 0 auto;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        padding: 47px 85px;
    }

    .footer-menu {
        margin: 0 100px 0 0;
    }
}

