@use '../base';
@import '../base/media';

.header {
   background-repeat: no-repeat;
   background-size: cover;
   margin: 0 24px;
   border-radius: 10px;
   color: base.$btn-disabled;
}

.header_main {
   padding: 96px 24px;
   text-align: center;
}

.header_title {
   font-size: 40px;
   line-height: 48px;
   margin-bottom: 24px;
   font-weight: 900;
}

.header_content {
   font-size: 15px;
   line-height: 25px;
   color: base.$light-cream;
   opacity: 0.8;
   font-weight: 400;
}

.header_btn {
   border-radius: 6px;
   border: none;
   background: base.$dark-cyan;
   color: base.$light-cream;
   text-align: center;
   font-size: 18px;
   font-weight: 900;
   line-height: 25px;
   padding: 15px 31px;
   margin-top: 39px;
}

.header_btn:hover, .header_btn:focus {
        background-color: base.$btn-hover;
        color: base.$light-cream;
        outline: none;
    }

.header_home {
   background-image: url('../../assets/home/mobile/image-hero-coffeepress.jpg');
}

.header_about {
   background-image: url('../../assets/about/mobile/image-hero-whitecup.jpg');
}

.header_plan {
   background-image: url('../../assets/plan/mobile/image-hero-blackcup.jpg');
}

@media (min-width: $medium) {
      .header {
         margin: 0 39px;
      }

      .header_main {
         padding: 103px 0 103px 58px;
         text-align: left;
         width: 450px;
      }

      .header_title {
         margin-right: 100px;
         font-size: 48px;
         line-height: 48px; /* 100% */
      }

      .header_home {
         background-image: url('../../assets/home/tablet/image-hero-coffeepress.jpg');
         background-position: center;
      }

      .header_about {
         background-image: url('../../assets/about/tablet/image-hero-whitecup.jpg');
         background-position: center;
      }

      .header_plan {
         background-image: url('../../assets/plan/tablet/image-hero-blackcup.jpg');
         background-position: center;
      }
}