@use '../base';

.location {
    text-align: center;
    color: base.$dark-grey-blue;
}

.location_title {
    color: base.$grey;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 70px;
}

.location_item {
    margin: 80px 0;
}

.location_subtitle {
    font-size: 28px;
    line-height: 36px;
    margin: 47px 0 22px 0;
}

.location_adress {
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
}

