@use '../base';
@import '../base/media';

.location {
    text-align: center;
    color: base.$dark-grey-blue;
}

.location_title {
    color: base.$grey;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 70px;
}

.location_item {
    margin: 80px 0;
}

.location_subtitle {
    font-size: 28px;
    line-height: 36px;
    margin: 47px 0 22px 0;
}

.location_adress {
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
}

@media (min-width: $medium) {
    .location_title {
        text-align: left;
        font-weight: 900;
        margin: 0;
    }

    .location_item {
        margin: 74px 50px 74px 0;
    }

    .location_country {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        margin: 0;
    }

    .location_subtitle {
        font-size: 24px;
        font-weight: 900;
        line-height: 36px; /* 150% */
    }

    .location_adress {
        font-weight: 400;
    }
}