@use '../base';
@import '../base/media';

.order {
    width: 100%;
    background-color: base.$outer-space;
    color: base.$light-cream;
    text-align: center;
    border-radius: 10px;
}

.order_list {
    margin: 120px 0;
    padding: 24px 24px;
}

.order_item {
    margin: 56px 0;
}

.order_num {
    margin: 0;
    color: base.$pale-orange;   
    font-size: 72px;
    font-weight: 900;
    line-height: 72px;
}

.order_title {
    margin: 24px 0;
    font-size: 28px;
    font-weight: 900;
    line-height: 32px;  
}

.order_description {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    opacity: 0.8;
}

.dark-line {
    display: none;
}

@media (min-width: $medium) {
    .dark_list {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        padding: 0 40px;
        margin: 0;
    }

    .order-dark {
        margin: 100px 0 20px 0;
        padding: 100px 0 50px 0;
    }

    .dark_item{
        text-align: left;
    }

    .dark_title {
        font-family: base.$heading-font;
        font-size: 28px;
        font-weight: 900;
        line-height: 32px; /* 114.286% */
        padding-right: 55px;
    }
    
    .dark-line {
        display: block;
        background-color: base.$pale-orange;
        height: 2px;
        border: none;
        margin: 0 242px -16px 55px;
    }

    .dark-point {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 65%; 
        margin-left: 40px;
    }

    .dark-circle {
        width: 31px;
	    height: 31px;
	    border: 2px solid base.$dark-cyan;
	    border-radius: 100%;
        background-color: base.$outer-space;
    }

    .dark_description {
        padding-right: 11px;
        opacity: 0.8s;
    }
}

@media (min-width: $large){
    // .order-dark {
    //     width: 80%;
    // }
    .dark-line {
        margin: 0 325px -16px 60px;
    }

    .dark-point {
        margin-left: 60px;
    }

    .dark_list {
        padding: 0 60px;
    }

    .dark_title {
        padding-right: 110px;
    }

    .dark_description {
        padding-right: 59px;
    }
}

@media (min-width: $xlarge) {
    .order-dark {
        width: 1280px;
        margin: 120px auto;
    }

    .dark-line {
        width: 55%;
        margin: 0 470px -16px 130px;
    }

    .dark-point {
        width: 55%;
        margin-left: 130px;
    }

    .dark_list {
        padding: 0;
        width: 1000px;
        margin: 0 auto;
    }

    .dark_title {
        padding-right: 145px;
    }

    .dark_description {
        padding-right: 80px;
    }
}