@use '../base';
@import '../base/media';

.works {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 0 120px 0;
}

.works-title {
    color: base.$grey;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 80px;
}

.work_num {
    color: base.$pale-orange;
    font-size: 72px;
    line-height: 72px;
    font-weight: 900;
    font-family: base.$heading-font;
    margin: 0;
}

.work_subtitle {
    color: base.$dark-grey-blue;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px; /* 114.286% */
    margin: 24px 0;
}

.work_summary {
    color: base.$dark-grey-blue;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 56px;
}

.point {
    display: none;
}

.line {
    display: none;
}

@media (min-width: $medium) {
    .works {
        align-items: flex-start;
        text-align: left;
        margin: 0 0 144px 0;
    }

    .works-title {
        font-size: 24px;
        font-weight: 900;
        line-height: 32px; /* 133.333% */
        margin-bottom: 40px;
    }

    .work_list {
        width: 100%;
        margin: 40px 0 48px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 5px;
        // width: 223px;
    }

    .work_item {
        width: 223px;
    }

    .work_subtitle {
        font-size: 28px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px; /* 114.286% */
        margin-right: 70px;
    }

    .work_summary {
        padding-right: 5px;
        width: 223px;
        // margin-bottom: 5px;
    }

    .line {
        display: block;
        background-color: base.$pale-orange;
        height: 2px;
        border: none;
        margin-bottom: -16px;
        margin-right: 250px;
        width: 65%;
    }

    .point {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 69%; 
    }

    .circle {
        width: 31px;
	    height: 31px;
	    border: 2px solid base.$dark-cyan;
	    border-radius: 100%;
        background-color: white;
	    // margin: auto 0;
    }
}

@media (min-width: $large) {
    .line {
        margin-right: 300px;
    }

    .works {
        margin-left: 35px;
    }
    
    .work_subtitle {
        margin-right: 20px;
    }

    .work_list {
        justify-content: flex-start;
    }

    .work_item {
        margin-right: 70px;
    }

    .point {
        width: 68%;
    }
}

@media (min-width: $xlarge) {
    .line {
    margin-right: 530px;
    width: 75%;
    }

    .works {
    max-width: 1100px;
    margin: 170px auto;
    }

    .work_list {
        justify-content: space-between;
    }

    .work_item {
        width: 285px;
        margin: 0;
    }

    .work_summary {
        width: 285px;
        padding-right: 20px;
    }

    .work_subtitle {
        margin-right: 60px;
    }

    .point {
        width: 76% ;
    }
}